/* Contenedor de las tarjetas */
#results_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


#resultado{
    color: black;
    background-color: white;
    width: calc(100% - 20px);
    height: auto;
    padding: 20px;
}

@media (max-width: 480px) {
    .result-card {
        padding: 10px;
    }
}